#homeContainer {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    width: 28em;
}

#textDiv {
    margin: auto;
    text-align: center;
}

.header_text {
    margin-right: auto;
    margin-left: auto;
    display: block;
    align-items: center;
    
}

#intro-img {
    border-radius: 50%;
    padding-bottom: 20px;
    width: 300px;
    margin-right: auto;
    margin-left: 50px;
}

