#pCard {
    color: black;
    float: left;
    margin: 30px;
    display: block;
}

h5 {
    text-align: center;
    background-color: blue;
    color: white;
}

#pCard:hover {
    transform: scale(1.2);
    
  }